.App-header {
  width: fit-content;
  width: -moz-fit-content;
  max-width: 85%;
  margin: 40px auto 0 auto;
}

.App-header img {
  width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.App-header h1 {
  margin: 0;
  font-family: p22-muschamp-pro, sans-serif;
  font-size: 5rem;
  font-weight: 400;
  color: #eee;
  text-align: center;
}

.Gallery {
  margin: 70px 0;
}

.Gallery-ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 85%;
  margin: 0 auto;
  grid-column-gap: 8%;
  grid-row-gap: 100px;
}

.SingleDay {
  width: 300px;
  height: 420px;
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(113,37,14,0.3);
  overflow: hidden;
}

.SingleDay-image {
  width: 100%;
  margin: 0 auto;
}

.SingleDay-image img {
  width: 100%;
  height: auto;
}

.SingleDay-copy {
  padding: 10px 30px;
}

.SingleDay-copy .SingleDay-prompt {
  font-weight: bold;
  font-size: 1.1rem;
}

.SingleDay-copy .SingleDay-artist {
  font-style: italic;
  font-size: 1rem;
}